{% extends 'base.html.twig' %}
{% block title 'Home' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Home</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cupiditate delectus distinctio dolorum eius eum fugit illum, in inventore magnam mollitia odit perferendis quam quas qui quidem rerum vero? Voluptatum.</p>

    </div>




{% endblock %}